{#
/**
* @file
* Default theme implementation to display a block.
*
* This template can be overriden in your themes.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div>
  {{ content }}
</div>
